@page
@model WebApplication3.Pages.Departments.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Вы уверены, что хотите удалить департамент?</h3>
<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.CompanyId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.CompanyId)
        </dd>
    </dl>
    
    <form method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Department.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a href="/Departments/Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
